body {
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    text-align: center;
    margin-top: 100px;
  }
  
  #user-answer {
    margin-top: 10px;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
  }

  .points-counter {
    color: rgb(200, 0, 255);
  }

  .banner {
    text-align: center;
    margin-bottom: 20px;
  }
  .banner img {
    max-width: 100%;
    height: auto;
  }